@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-primary: 'Poppins', sans-serif;
    --font-lato: 'Lato', sans-serif;
}

* {
    font-family: var(--font-primary);
}

body {
    font-family: inherit;
}

.font-lato {
    font-family: var(--font-lato);
}